*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo_area{
    width: 600px;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffe4e4;
    box-shadow: -3px 2px 7px 0px rgba(0,0,0,0.52);
    -webkit-box-shadow: -3px 2px 7px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -3px 2px 7px 0px rgba(0,0,0,0.52);
}
h1{
    text-align: center;
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
}
.input{
    padding: 6px 8px;
    border: 1px solid #000;
    outline: none;
    font-size: 16px;
    width: 250px;
}
.err{
    color: #ff0000;
    font-size: 12px;
    text-transform: capitalize;
}
.btn{
    padding: 6px 8px;
    cursor: pointer;
    margin-left: 10px;
}
.list{
    margin-left: 20px;
    margin-top: 30px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 18px;
    position: relative;
}
.list li{
    padding: 5px;
    background-color: #ffffff63;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.list li::after{
    position: absolute;
    content: "⇒";
    top: 6px;
    left: -25px;
}
.list li button{
    /* margin-left: 30px; */
    padding: 5px 0;
    width: 70px;
    background-color: blueviolet;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}
.btnlist{
    display: flex;
    column-gap: 10px;
}